/**/target/
!.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml
/lingxe/**/*.jar
/lingxe/config/apps
/asdp/**/*.jar
/asdp/config/apps
*.class
*.log
access-log*.txt

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

asdp/
tongasdp.zip
lingxe-java-agent.zip
lingxe-java-agent.zip